#mode-toggle-btn{
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 500px)
{
  #mode-toggle-btn {
    padding: 0.1em 0.1em;
    max-height: 100%;
    font-size: smaller;
    }
}