.synoptic-settings .title {
  font-size: 1.2em;
}
.synoptic-settings .synoptic-link {
  color: #0087db;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  text-align: left;
}
.synoptic-settings .float-right {
  float: right;
  margin-top: -0.2em;
}

.synoptic-settings input[type="button"] {
  background: none;
}

.synoptic-settings .delete-button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
}

.synoptic-settings .delete-button:hover {
  color: rgba(0, 0, 0, 0.6);
}

.synoptic-settings .synoptic-row {
  outline: none;
  padding: 0.2em 0.5em;
  font-size: 1.1em;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
.synoptic-menu .synoptic-add-synoptic {
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  background-color: white;
  margin: 0em 0.1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.synoptic-menu .synoptic-menu-title {
  font-size: 16px;
  display: inline-block;
}
.synoptic-settings .selected {
  background: #ebfaff;
}
.synoptic-settings-title {
  font-size: 1.1em;
  font-weight: bold;
  color: #666;
  padding: 0.2em 0.5em;
  border-bottom: 1px solid #eee;
}
.subtitle {
  font-weight: normal;
  margin-top: 0.2em;
}
