#AttributeDisplay .QualityIndicator {
    color: white;
    border-radius: 0.35em;
    padding: 0.25em;
    font-size: small;
    margin-right: 0.25em;
    text-align: center;
}

#AttributeDisplay .QualityIndicator.valid {
    background-color: #5c5;
}

#AttributeDisplay .QualityIndicator.invalid {
    background-color: gray;
}

#AttributeDisplay .QualityIndicator.changing {
    background-color: lightskyblue;
}

#AttributeDisplay .QualityIndicator.alarm {
    background-color: orange;
}

#AttributeDisplay .QualityIndicator.warning {
    background-color: orange;
}